{:kotoba.app/latest "k51qzi5uqu5djqlmsulkbgtgl1w7ts9g8os24setm1r2ovpw8yaljnc9627v4n", :kotoba.app/site-cid "bafybeigb7lwkwl2fnjldkrf766ay7ghvou7kk3c5wkwnaibqyml7jpacea", :kotoba.app/id "cloud.itonami.vehicle", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5djqlmsulkbgtgl1w7ts9g8os24setm1r2ovpw8yaljnc9627v4n", :published {:own-nodes {:cid "bafybeigb7lwkwl2fnjldkrf766ay7ghvou7kk3c5wkwnaibqyml7jpacea", :ipns "k51qzi5uqu5djqlmsulkbgtgl1w7ts9g8os24setm1r2ovpw8yaljnc9627v4n", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T03:45:17Z"}}}
